@charset "UTF-8";
html {
  font-family: Manrope;
}

.layout-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gap {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.gap-products {
  -moz-column-gap: 76px;
       column-gap: 76px;
}

.flex-col {
  display: flex;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

.allura {
  font-family: Allura;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}

.montserrat {
  font-family: Montserrat;
  font-size: 1.6rem;
}

.footer-text {
  margin: 50px;
  text-align: center;
}

@font-face {
  font-family: Manrope;
  src: url(./../fonts/Manrope-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(./../fonts/Manrope-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(./../fonts/Manrope-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url(./../fonts/Manrope-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lighthaus;
  src: url(./../fonts/Lighthaus.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Allura;
  src: url(./../fonts/Allura-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(./../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 400;
  font-style: normal;
}
.product {
  padding-bottom: 57px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
}

.decor-title {
  font-size: 24px;
  position: relative;
}

.products h2 {
  margin: 55px auto;
  width: 300px;
}

.product__img {
  height: 221px;
  height: 221px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__img img {
  width: 100%;
  transition: scale 0.7s;
  scale: 1;
}

.product__card {
  width: 221px;
  height: 277px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}
.product__card:hover img {
  transition: scale 0.7s;
  scale: 1.1;
}

.product__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__price {
  display: flex;
  justify-content: space-between;
}
.product__price p {
  margin: 0 5px 0 5px;
}

.product__name h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px;
}

.price {
  font-weight: 600;
  font-size: 1.5rem;
}

.currency {
  font-weight: 300;
  font-size: 1.2rem;
}

.accent-title {
  font-size: 3.2rem;
  text-align: right;
  color: #AD223F;
}

.title {
  margin-top: 59px;
  position: relative;
}

.active {
  opacity: 1;
  border-bottom: 1px solid #AD223F;
}

.menu {
  padding-top: 88px;
}
.menu ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.menu ul li {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 0 0 7px 0;
}
.menu ul li a {
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.7s;
}
.menu ul li a:hover {
  opacity: 1;
}

.sub-title {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: right;
  width: 306px;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.left-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-part {
  width: 571px;
  height: 606px;
  overflow: hidden;
  border-radius: 10px;
}
.right-part img {
  max-width: 571px;
}

.img-contacts {
  width: 409px;
  height: 459px;
  overflow: hidden;
  border-radius: 10px;
}
.img-contacts img {
  max-width: 409px;
}

.contacts .col-2-footer {
  padding: 0 54px 0 77px;
  border-right: 1px solid #AD223F;
  border-bottom: 1px solid #AD223F;
  border-top: 1px solid #AD223F;
  border-radius: 10px;
}
.contacts .col-right {
  padding: 0 0 0 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

p {
  margin: 8px 0;
}

a {
  color: #000;
}

body {
  max-width: 1440px;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: auto;
  background: #fff;
  color: #000;
  padding: 0 0px;
}

h1, h2 {
  font-family: Lighthaus;
  font-size: 4rem;
}

.icon {
  display: inline-block;
  margin: 0 7px 0 0;
  transition: opacity 0.3s;
  opacity: 0.6;
}
.icon:hover {
  opacity: 1;
}

.icon-instagram {
  background-image: url(./../images/instagram.svg);
  width: 22px;
  height: 22px;
}

.icon-telegram {
  background-image: url(./../images/telegram.svg);
  width: 22px;
  height: 22px;
}

.logo {
  width: 99px;
}

.line-top {
  border-left: 1px solid #AD223F;
  height: 130px;
  margin: 0 0 20px 0;
}

.line-bottom {
  border-left: 1px solid #AD223F;
  height: 200px;
  margin: 20px 0;
}

.circle {
  width: 18px;
  height: 18px;
  background-color: #AD223F;
  border-radius: 50%;
  position: absolute;
}

.circle_main {
  top: -10px;
  left: 10px;
}

.circle_products {
  top: 47px;
  left: 61px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #dddddd;
  color: #616161;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.zoom {
  transition: transform 0.5s;
}

.zoom:hover {
  transform: scale(1.2);
}

input[type=checkbox]:checked + .custom-checkbox {
  background-color: #AD223F; /* Цвет при нажатии */
  border: 1px solid #AD223F;
}

/* Создаем новый стиль для чекбокса */
.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  display: inline-block;
  position: relative;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */