html {
  @extend %font;
  font-size: 10px;
  scroll-behavior: smooth;
}
p {
  margin: 8px 0;
}
a {
  color: $color-dark;
}
body {
  max-width: 1440px;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: auto;
  background: $color-light;
  color: $color-dark;
  padding: 0 0px;
}
h1, h2 {
  font-family: Lighthaus;
  font-size: 4rem;
}
