.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    // border: 1px solid $color-accent;
    background-color: #dddddd;
    color: #616161;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}