.img-contacts {
  width: 409px;
  height: 459px;
  overflow: hidden;
  border-radius: 10px;
  img {
    width: 100%;
  }
}
.contacts {
  .col-2-footer {
    padding: 0 54px 0 77px;
    border-right: 1px solid $color-accent;
    border-bottom: 1px solid $color-accent;
    border-top: 1px solid $color-accent;
    border-radius: 10px;
  }
  .col-right {
    padding: 0 0 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}