.img-contacts {
  width: 409px;
  height: 459px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -2px 2px 3px 1px rgba(91, 91, 91, 0.4);
  img {
    max-width: 409px;
    // width: 100%;
  }
}
.contacts {
  position: relative;
  padding-top: 60px;
  .col-2-footer {
    padding: 0 54px 0 77px;
    border-right: 1px solid $color-accent;
    border-bottom: 1px solid $color-accent;
    border-top: 1px solid $color-accent;
    border-radius: 10px;
    background-color: $color-light;
    box-shadow: 0px 2px 8px 0px rgba(91, 91, 91, 0.4);
  }
  .col-right {
    padding: 0 0 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}